name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # 如果有 requirements.txt 则安装依赖
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Create config.json from Secret
      run: |
        # 核心：将 GitHub Secrets 中的内容写入到正确的路径
        # 因为你的 app.py 在 web_booker 文件夹下
        echo '${{ secrets.APP_CONFIG_JSON }}' > web_booker/config.json

    - name: Run app.py
      run: |
        # 切换到 web_booker 目录并运行程序
        cd web_booker
        python app.py
